.auth {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.auth-form {
  display: flex;
  flex-direction: column;
  width: 50vw;
}

p.erro {
  color: red;
  font-weight: bold;
  text-align: center;
}
